{
    "parser": "babel-eslint",
    "plugins": [
        "jsx-control-statements"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "extends": ["airbnb", "plugin:jsx-control-statements/recommended"],
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "comma-dangle": [
            "error",
            "never"
        ]
    }
}
