@import '../../constants.scss';

.Show {
  .Show__img {
    float:left;
    width: 18rem;
    img {width:18rem}
  }
  .Show__desc {
    float:right;
    width: calc(100% - 200px);
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

