@import '../../constants.scss';

header {
  width: 100%;
  display: block;
  height: 6rem;
  background: $dark-knight;
  .logo {
    margin-top: 0rem;
    margin-left: 0.5rem;
    height: 6rem;
    float: left;
    width: 6rem;
    background: transparent url("../../assets/images/logo.svg") top left no-repeat;
    background-size: 6rem 6rem;

  }
  ul {
    margin: 1.2rem 0 0 1.5rem;
    padding: 0;
    width: 24rem;
    float:left;
    li {
      display: inline-block;
      margin: 0rem 0 0 0rem;
      &:first-child a {
        border-radius: 0.5rem 0 0 0.5rem;
      }
      &:last-child a {
        border-radius: 0 0.5rem 0.5rem 0;
      }
      a {
        color: $white-forit;
        display: inline-block;
        padding: 1rem 1.3rem;
        background-color: $green-arrow;
        &:last-of-type() {
          border-radius: 0.5rem;
        }
        border-left:1px solid $dark-knight;
        &:hover {
          background-color: $grey-anatomy;
          color: $white-forit;
        }
        &.active {
          background-color: $grey-shade;
        }
      }
    }
  }
  .secure {
    float: right;
    color: $white-spirit;
    margin:1.2rem 1rem 0 2rem;
    .secure-text {
      display: none;
    }
    span:before {
      color: $green-arrow;
      font-size: 3rem;
      float: left;
      margin-top: -0.5rem
    }
  }
}


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {
  header {
    height: 8rem;
    .logo {
      margin-top: 1rem;
      margin-left: 1rem;
    }
    ul {
      width: 28rem;
      margin: 2rem 0 0 3rem;
      li a {
        padding: 1rem 2rem;
      }
    }
    .secure {
      margin-top: 2rem;
      margin-bottom: 0rem;
      .secure-text {
        display: inline;
        margin-left: 1rem
      }

    }
  }
}


/* Larger than tablet */

@media (min-width: 750px) {
  header {
    .secure {
      margin-right: 2rem;
    }
  }
}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
