$white-spirit: #ffffff;
$pitch-black:#000000;

$white-forit: #f1f1f1;

$grey-anatomy:#6491A1;
$gray-jean:#385A72;
$grey-shade:#003455;
$dark-knight:#212121;

$red-hot:#A10518;
$green-arrow:#29ABA4;

$orange-clockwork:#fa4b2a;
$orange-clockwork-hover:#cf3b1f;
